<div id="contentText" class="col-sm-12 col-sm-offset-0 col-xs-12">
  <div [ngClass]="setSeasonInfoClass()" [hidden]="!showSeasonInfo()">

    <div *ngFor="let info of activeWebContent" id="showSeasonList" [ngClass]="setSeasonListClass()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            {{info.title}}
          </div>
        </div>
        <div class="panel-body">
          <h5 class="text-center text-primary">{{info.subTitle}}</h5>
          <div class="text-center"><strong><span>{{info.body}}</span></strong></div>
          <div class="text-center" [hidden]="!info.location">Location: {{info.location}}</div>
          <div class="text-center" [hidden]="!info.dateAndTime">Date/Time: {{info.dateAndTime}}</div>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="setNewsClass()" [hidden]="!showNews()">
    <div *ngFor="let info of activeWebContent">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">{{info.title}}</div>
        </div>
        <div class="panel-body">
          <h5 class="text-center text-info">{{info.subTitle}}</h5>

          <div class="text-center"><strong><span>{{info.body}}</span></strong></div>
          <div class="text-center" [hidden]="!info.location">Location: {{info.location}}</div>
          <div class="text-center" [hidden]="!info.dateAndTime">Date/Time: {{info.dateAndTime}}</div>
        </div>
      </div>
    </div>
  </div>

</div>