<div id="panelGames" class="row">
  <div class="panel panel-primary">
    <div>
      <table id="grdSchedule" class="table  table-responsive table-striped table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Home Team</th>
            <th>Visiting Team</th>
            <th>Home Score</th>
            <th>Visiting Visiting</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of games">

            <td>{{item.gameDate | date:'MM/dd/yyyy'}}</td>
            <td>{{item.gameTime | date: 'shortTime'}}</td>
            <td>{{item.location}}</td>
            <td>{{item.homeTeam}}</td>
            <td>{{item.visitingTeam}}</td>
            <td class="text-right">{{item.homeScore}}</td>
            <td class="text-right">{{item.visitorScore}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>