@import '../../../../content/_variables';
.gamedate {
  color: $brand-color;
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 8px;
}
// table.td {
// 8px;    
// }
// td.mat-cell:first-of-type { 8px;   
// }
