<mat-toolbar>
  <span class="season">{{ seasonDescription }}</span>
  <div
    [formGroup]="menuForm"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    fxShow="true"
    fxHide.lt-sm="true"
  >
    <a href="/games/schedule" mat-button>Schedule</a>
    <a href="/games/standings" mat-button>Standings</a>
    <a fxHide.gt-md="true"
    href="/games/scores" mat-button>Scores</a>
</div>
<div
[formGroup]="menuForm"
fxLayout="row"
fxLayoutAlign="space-evenly center"
fxShow="true"
fxHide.gt-md="true"
>
<button mat-button [matMenuTriggerFor]="menu">View</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><a href="/games/schedule" mat-button>Schedule</a></button>
  <button mat-menu-item><a href="/games/standings" mat-button>Standings</a></button>
  <button mat-menu-item> <a href="/games/scores" mat-button>Scores</a></button> 
</mat-menu>
</div>
  <span class="fill-space"></span>
  <csbc-game-filter
    [currentDivision]="selectedDivisionId$ | async"
    (selectedDivision)="divisionSelected($event)"
  ></csbc-game-filter>
</mat-toolbar>
