p.manny {
    background-color: transparent;
    color: #e6e3e3;
    text-align: right;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 10px;
}