p.manny {
    background-color: transparent;
    color: #e6e3e3;
    text-align: right;
    font-size: .9em;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 10px;
}