<div class="row">
  <aside class="col-sm-2">
    <nav class="navbar navbar-default sidebar" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/admin/dashboard">Dashboard<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
</a>
        </li>
        <li><a routerLink="/admin/seasons" routerLinkActive="active">Seasons</a></li>
        <li class="subheading" > Season Info</li>
        <li><a routerLink="/admin/division" style="color:'white';">Divisions</a></li>
        <li> <a routerLink="/admin/team" routerLinkActive="active">Teams</a></li>
        <li> <a routerLink="/admin/games" routerLinkActive="active">Games</a></li>
        <li class="subheading">Site Info</li>
        <li> <a routerLink="/admin/content" routerLinkActive="active">Content</a></li>
        <li> <a routerLink="/admin/director" routerLinkActive="active">Directors</a></li>

      </ul>
    </nav>
  
  <!-- <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [(opened)]="opened" [mode]="mode">
     
      <mat-nav-list>
        <mat-list-item *ngFor="let item of menuItems" routerLink="{{item.routerLink}}">{{item.description}}</mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
  
      </mat-sidenav>
  </mat-sidenav-container> -->
</aside> 
  <div class="col-sm-10">
    <div class="row">
      <h3 class="pull-right">ADMIN</h3>
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
