<div class="row">
    <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/season">
            <div class="heading">Current Season</div>
            <div class="body">Winter 2017</div>
        </div>
    </div>

     <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/division">
            <div class="heading">Divisions</div>
            <div class="body">List of divisions</div>
        </div>
    </div>
     <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/player">
            <div class="heading">Players</div>
            <div class="body">40</div>
        </div>
    </div>
</div>