<div class="row">
    <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/season">
            <div class="heading">Current Season</div>
            <div class="body" *ngIf="currentSeason">{{currentSeason.description}}</div>
        </div>
    </div>

     <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/division">
            <div class="heading">Divisions</div>
            <div *ngFor="let division of divisions">
                {{division.div_Desc}}
            </div>
        </div>
    </div>
     <div class="col-sm-3 col-xs-6 col-xss-12">
        <div class="card" routerLink="/admin/player">
            <div class="heading">Players</div>
            <div class="body">40</div>
        </div>
    </div>
</div>