<!-- <div style="height: 100vh;" class="wrapper"> -->
<mat-toolbar color="default" fxShow="true">
  <div fxHide.gt-xs>
    <button mat-idon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- <mat-toolbar-row > -->
  <!-- <button mat-icon-button aria-label="Navigation menu" (click)="snav.toggle()">
                    <mat-icon aria-hidden="true">menu</mat-icon>
                  </button> -->
  <div fsFlex fxLayout fxHide.xs>
    <a routerLink="/home" mat-button routerLinkActive="active">Home</a>
    <a routerLink="/games" mat-button>Games</a>
    <a routerLink="/photos" mat-button>Photos</a>
    <a routerLink="/contacts" mat-button>Contacts</a>
    <a routerLink="/clubDocs" mat-button>Club Docs</a>
    <!-- <li fxFlex *ngIf="showAdminMenu">
                <a routerLink="/admin">Admin</a>
            </li> -->
    <!-- <li fxFlex *ngIf="showAdminMenu"> -->
    <a *ngIf="showAdminMenu" routerLink="/admin" mat-button>Admin</a>
    <!-- </li> -->
    <!-- <li fxFlex *ngIf="showAdminMenu"> -->
    <a *ngIf="showAdminMenu" routerLink="/dashboard" mat-button>Dashboard</a>
    <!-- </li> -->
    <!--<li class="dropdown">
                            <a routerLink="/admin">Admin</a>
                        </li>-->

    <!-- </ul> -->
    <span class="fill-space"></span>
  </div>
  <!-- <a routerLink="/dashboard">login</a>     -->
  <div fxFlex fxLayout fxLayoutAlign="end">
    <button mat-raised-button *ngIf="!currentUser" (click)="openDialog()">
      Login
    </button>
    <p readonly *ngIf="currentUser">Hello {{ userName }}</p>
  </div>
  <!-- <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
    </div> -->
  <!-- </mat-toolbar-row> -->
  <!-- <div fxShow="true" fxHide.gt-sm="true">
        <a href="#" (click)="sidenav.toggle()" style="color:white;">Show Side Menu</a>
      </div> -->
</mat-toolbar>
<!-- </div> -->
<!-- <nav class="navbar navbar-inverse navbar-static-top" role="navigation ">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <button type="button " class="navbar-toggle " data-toggle="collapse " data-target=".navbar-collapse ">
                <span class="sr-only ">Toggle navigation</span>
                <span class="icon-bar "></span>
                <span class="icon-bar "></span>
                <span class="icon-bar "></span>
            </button>

            <a class="navbar-brand " href="# ">CSBC</a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav ">
                <li>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li><a routerLink="/dashboard">Dashboard</a></li>-->
<!--<li><a routerLink="/seasons">Seasons</a></li>-->

<!--<router-outlet name="popup"></router-outlet>-->
