<nav class="navbar navbar-inverse navbar-toggleable-md bg-inverse fixed-top">
        <div class="navbar-header ">
            <button type="button " class="navbar-toggle " data-toggle="collapse " data-target=".navbar-collapse ">
                        <span class="sr-only ">Toggle navigation</span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                    </button>

            <a class="navbar-brand " href="# ">CSBC</a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav ">
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <!--<li><a routerLink="/dashboard">Dashboard</a></li>-->
                <!--<li><a routerLink="/seasons">Seasons</a></li>-->
                <li><a routerLink="/games">Games</a></li>
                <li><a routerLink="/photos">Photos</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
                <li><a routerLink="/clubDocs">Club Docs</a></li>
                <li><a routerLink="/admin">Admin</a></li>

                <li>
                    <a routerLink="/dashboard">Dashboard</a>
                </li>
                <!--<li class="dropdown">
                    <a routerLink="/admin">Admin</a>
                </li>-->

            </ul>

            <div class="nav navbar-nav navbar-right ">
                <!--<asp:Label ID="lblUser1 " runat="server " CssClass="h4 "></asp:Label>-->
                <!--<asp:LinkButton ID="linkLogout " runat="server " OnClick="linkLogout_Click " CssClass="badge ">Logout</asp:LinkButton>-->
            </div>
            <div class="col-sm-1 pull-right">
                <!--<button ID="btnLogin" class="btn btn-primary btn-sm btn-middle" 
                        Text="Login">Login</button>-->
                <div ID="lblName" class="badge"></div>
                <!--<button id="btnLogout" class="badge" Text="Logout" />-->

            </div>
        </div>

    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>