<div id="header" class="center-block">
    <div id="logo">
        <a href="index.html">
            <img [src]="topImage" alt=" " class="img-responsive" />
        </a>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-12 ">
            <div class="row">
                <div [ngClass]="setMeetingNoticeClass()" [hidden]="!showSidebar()">
                    <csbc-home-sidebar></csbc-home-sidebar>
                </div>
                <div [ngClass]="setImageClass()" class="hidden-xs">
                    <csbc-home-center></csbc-home-center>
                    <csbc-announcements></csbc-announcements>
                </div>
            </div>
           
        </div>
    </div>
</div>