<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form
    class="example-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitClick()"
  >
    <mat-form-field>
      <input matInput formControlName="userName" placeholder="User Name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    (click)="onSubmitClick()"
    cdkFocusInitial
  >
    Ok
  </button>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
</div>
